/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: #fff;
}

/* Hero styles */
.hero {
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

/* Button with Image styles */
.cta-button {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
}

.cta-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.cta-button:hover img {
    margin-top: 22px;
    margin-bottom: 78px;
}

.cta-button span {
    position: relative;
    z-index: 1;
}

.btn-custom:hover {
    transform: scale(1.05);
}

/* Features styles */
.features {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.features h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.feature-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.feature-card {
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 1.2rem;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    text-indent: 0;
}
